/* CSS */

.background{
    width: 100vw;
    height: 100vh;

    background-image: url('../design/img/background.jpg');
    background-size: cover;
    background-color: black;
}

.secondaryTitle{
    font-family: 'Poppins', sans-serif;
    color: #f88b72;
    font-weight: 700;
    font-size: 20px;
}
.deleteText{
    font-family: 'Poppins', sans-serif;
    color: #f36f52;
    font-weight: 500;
    font-size: 20px;
}
.title{
    font-family: 'Poppins', sans-serif;
    color: #120788;
    font-weight: 700;
    font-size: 40px;
}
.form-label{
    font-family: 'Poppins', sans-serif;
    color: #b86fce;
    font-weight: 600;
    font-size: 15px;
}
.input{
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(160, 160, 160);

    color: rgb(3, 28, 104);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.input:focus{
    outline:none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #b86fce;
}
.card{
    position: relative;
    z-index: 1;
    border-radius: 5%;
}
.card-dashboard{
    position: relative;
    z-index: 1;
    border-radius: 20px;
}
.btn-submit{
    color: white;
    background-color: #885199;
    border: none;
    padding: 10px 30px ;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}
.btn-submit:hover{
    transform: scale(0.9);
}
.btn-logout{
    color: white;
    background-color: #000000;
    border: none;
    padding: 25px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    display: block;
}
.btn-logout:hover{
    text-decoration: none;
    color: white;
    transform: scale(0.9);
}
.btn-delete{
    color: white;
    background-color: #e04024;
    border: none;
    padding: 10px 30px ;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    display: block;
}
.btn-delete:hover{
    text-decoration: none;
    color: #e04024;
    background-color: white;
    border: 1px solid #e04024;
}
.btn-anulation{
    color: white;
    background-color: #32cf66;
    border: none;
    padding: 10px 30px ;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    display: block;
}
.btn-anulation:hover{
    text-decoration: none;
    color: #32cf66;
    background-color: white;
    border: 1px solid #32cf66;
}
.signup_text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-right: 5px;
}
.signup_link{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #b86fce;
}
.signup_link:hover{
    color: #b86fce;
    text-decoration: underline #b86fce;
}
.overlay{
    position: absolute;
    z-index: 5;
}